{% include 'header.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>PET Traceability Home</h1>
    
    {% if session['username'] %}
        <p>{{ session['username'] }} さん</p>
    {% endif %}

    <!-- Add New PET フォーム -->
    <h2>ペットボトルの投函数を入力してください</h2>
    <form action="{{ url_for('add_pet') }}" method="POST">
        <label for="weight">本数:</label>
        <input type="text" id="weight" name="weight" required><br><br>
        <label for="location">場所:</label>
        <input type="text" id="location" name="location" required><br><br>
        <button type="submit">投函</button>
    </form>

    <br><br>
    <!-- <a href="{{ url_for('add_trace', trace_type='recycler') }}">Add Recycler Trace</a><br>
    <a href="{{ url_for('add_trace', trace_type='spinning') }}">Add Spinning Trace</a><br>
    <a href="{{ url_for('add_trace', trace_type='manufacturing') }}">Add Manufacturing Trace</a><br><br> -->
    
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    
    <h2>リサイクル履歴</h2>
    <ul>
        {% for pet in pets %}
        <li>
            <strong>ID:</strong> {{ pet[0] }}<br>
            <strong>本数:</strong> {{ pet[2] }}<br>
            <strong>投函場所:</strong> {{ pet[3] }}<br>
            <strong>日時:</strong> {{ pet[4] }}<br>
            <a href="{{ url_for('trace_log', pet_id=pet[0] ) }}">リサイクル履歴の詳細を見る</a>
        </li>
        {% endfor %}
    </ul>
    <br><br><a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>