{% include 'header.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trace Log for PET {{ pet_id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1> リサイクル履歴詳細</h1>

    {% if initial_log %}
        {% for initial_data in initial_log %}
            <p><strong>重量:</strong> {{ initial_data[3] }}</p>
            <p><strong>投函場所:</strong> {{ initial_data[4] }}</p>
        {% endfor %}
        <h2> PET ID {{ pet_id }} のトレースログ</h2>
        <ul>
            {% for trace in trace_logs %}
                <li>
                    <strong>日付:</strong> {{ trace[3]}}<br>
                    <strong>会社:</strong> {{ trace[4] }}<br>
                    <strong>ステータス:</strong> {{ trace[5] }}<br>
                    <strong>Type:</strong> {{ trace[6] }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ message }}</p>
    {% endif %}

    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
